// utils styles
@import "./utils/variables";
@import "./utils/visually-hidden";

// base styles
@import "./base/base";
@import "./base/reset";

// components styles
@import "./components/card-set";
@import "./components/container";
@import "./components/buttons";
@import "./components/modal-window";
@import "./components/modal-form";
@import "./components/form";
@import "./components/subscription";
@import "./components/mobile-menu";

// layout styles
@import "./layout/header";
@import "./layout/nav";
@import "./layout/hero-image";
@import "./layout/contents";
@import "./layout/team";
@import "./layout/portfolio";
@import "./layout/footer";
@import "./layout/partners";
@import "./layout/pictures";