:root {
  /* font */
  --main-font: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  /*  colors */
  --accent: #2196f3;
  --bground: #e5e5e5;
  --linear-grd: (47, 48, 58, 0.4);
  --sosial-icon: #afb1b8;

  /* bg colors */
  --secondary-bg: #f5f4fa;
  --lidht-bg-ol: #d9d9d9;
  --main-bg-ol: #2f303a;
  --hero-bg: rgba(196, 196, 196, 1);
  /* text colors */
  --main-tex-ol: black;
  --main-text: #212121;
  --secondary-text: #757575;
  --light-text: #ffffff;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  /* others */
  --indent: 30px;
  --feature-cont: 4;
  --items: 3;
  --feature: 2;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --overlay: rgba(33, 150, 243, 0.9);
}