.content {
  padding-top: 60px;
  padding-bottom: 60px;
  // padding-top: 94px;
  // padding-bottom: 94px;
}
.feature {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
  }
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // gap: var(--indent);

  // }

  // &__section {
  //   @media screen and (min-width: 768px) and (max-width: 1199px) {
  //     flex-basis: calc(
  //       (100% - var(--indent) * (var(--feature) - 1)) / var(--feature)
  //     );
  //   }
  // }

  &__feature-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 270px;
    // height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-bg);
  }

  &__icon {
    fill: var(--main-text);
  }

  &__title {
    // display: inline-block;
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-text);
  }
}

&__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text);
}
&:not(:last-child) {
  @media screen and (max-width: 900px) {
    margin-bottom: 30px;
  }
}
