.content {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

}

.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--indent);

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }

  &__section:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__section {
    @media screen and (min-width: 768px) {
      width: calc((100% - var(--indent)*(var(--feature) - 1))/var(--feature));
    }
  }

  &__feature-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--secondary-bg);

  }

  &__icon {
    fill: var(--main-text);
  }

  &__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-text);

    @media screen and (min-width:768px) {
      display: inline-block;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-text);
  }


}