.content {
  padding-top: 60px;
  padding-bottom: 60px;


}

@media screen and (min-width: 1200px) {
  .content {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--indent);
}

.feature__section {
  max-width: 450px;
}

@media screen and (max-width: 767px) {
  .feature__section:not(:last-child) {
    margin-bottom: 30px;

  }
}

@media screen and (max-width: 767px) {
  .feature__section {
    max-width: 354px;

  }
}

@media screen and (min-width: 1200px) {
  .feature__section {
    max-width: 270px;
    width: calc((100% - var(--indent)*(var(--feature-cont) - 1))/var(--feature-cont));
  }
}

@media screen and (min-width: 768px) {
  .feature__section {
    width: calc((100% - var(--indent)*(var(--feature) - 1))/var(--feature));
  }
}

.feature__feature-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--secondary-bg);
  padding-top: 25px;
  padding-bottom: 25px;
}

.feature__icon {

  fill: var(--main-text);
}



@media screen and (min-width:1200px) {
  .feature_icon {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.feature__title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text);
}

@media screen and (min-width:768px) {
  .feature__title {
    display: inline-block;
  }
}

.feature__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text);
}


@media screen and (min-width: 1200px) {
  .feature {
    flex-wrap: nowrap;
  }
}