.footer {
  background: var(--main-bg-ol);


  .footer__container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width:768px) {
    .footer__container {
      flex-wrap: wrap;
      align-items: baseline;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  @media screen and (min-width:1200px) {
    .footer__container {

      flex-wrap: nowrap;
      align-items: baseline;
    }
  }


  .footer__list {
    text-align: center;

  }

  @media screen and (min-width:1200px) {
    .footer__list {
      width: 231px;
    }
  }



  .footer__address {
    display: flex;
    flex-direction: column;
    text-align: center;

  }



  .footer__logo {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;

    letter-spacing: 0.03em;

    color: var(--accent);
  }

  .footer--stud {
    color: var(--light-text);
  }

  .footer__text--adress {
    display: inline-block;
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: var(--light-text);
  }

  @media screen and (min-width:1200px) {
    .footer__logo {
      margin-right: 70px;

    }
  }

  .footer__maill {
    display: inline-block;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: var(--footer-contacts);
    transition: color var(--anim-fast);
    max-width: 450px;
  }

  @media screen and (min-width:1200px) {
    .footer__maill {
      margin-bottom: 9px;
      text-align: left;

    }
  }

  .footer__phone {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: var(--footer-contacts);
    transition: color var(--anim-fast);
    margin-bottom: 60px;
  }

  @media screen and (min-width:1200px) {
    .footer__phone {
      margin-bottom: 0;
      text-align: left;

    }
  }


  .footer__maill:hover,
  .footer__phone:hover,
  .footer__maill:focus,
  .footer__phone:focus {
    color: var(--light-text);
    outline: 0;
  }

  /* sosial footer */

  .footer__sosial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width:1200px) {
    .footer__sosial {
      margin-bottom: 0;
      text-align: start;
    }
  }


  .footer__sosial-link {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .footer__link {
    display: flex;
    justify-content: center;
  }

  .footer__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--anim-fast);
  }

  .footer__icon {
    fill: var(--light-text);
    transition: fill var(--anim-fast);
  }

  .footer__item:hover,
  .footer__item:focus {
    background-color: var(--accent);
    outline: 0;
  }

  .footer__link:hover .footer__icon {
    fill: var(--light-text);
  }

  .footer__link:focus .footer__icon {
    fill: var(--light-text);
  }

  .footer__sosial--text {
    display: block;
    width: 100%;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--light-text);

  }
}

@media screen and (max-width:767px) {
  .footer__adress {

    text-align: center;
  }
}

@media screen and (max-width:767px) {
  .footer__sosial--text {

    text-align: center;
  }
}

@media screen and (min-width:1200px) {
  .footer__sosial {

    margin-right: 93px;
  }
}

@media screen and (min-width:1200px) {
  .footer__list {
    max-width: 231px;
    margin-right: 70px;
  }
}