.footer {
  background: var(--main-bg-ol);

  &__container {
    display: flex;
    flex-direction: column;
    // align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:768px) {
      flex-wrap: wrap;
      align-items: baseline;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__list {
    // margin-right: 70px;
    text-align: center;
  }

  &__address {
    display: flex;
    flex-direction: column;
    // max-width: 231px;
    // min-height: 80px;
    text-align: center;
  }

  &__logo {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;

    letter-spacing: 0.03em;

    color: var(--accent);
  }

  .footer--stud {
    color: var(--light-text);
  }

  &__text--adress {
    display: inline-block;
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: var(--light-text);
  }

  &__mail {
    display: inline-block;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: var(--footer-contacts);
    transition: color var(--anim-fast);
  }

  &__phone {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: var(--footer-contacts);
    transition: color var(--anim-fast);
    margin-bottom: 60px;
  }

  &__mail:hover,
  &__phone:hover,
  &__mail:focus,
  &__phone:focus {
    color: var(--light-text);
    outline: 0;
  }

  /* sosial footer */

  .footer__sosial {
    flex-direction: column;
    align-items: center;
    display: flex;
    // max-width: 210px;
    max-height: 80px;
    // margin-right: 93px;
    margin-bottom: 60px;

  }

  &__sosial-link {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--anim-fast);
  }

  &__icon {
    fill: var(--light-text);
    transition: fill var(--anim-fast);
  }

  &__item:hover,
  &__item:focus {
    background-color: var(--accent);
    outline: 0;
  }

  &__link:hover &__icon {
    fill: var(--light-text);
  }

  &__link:focus &__icon {
    fill: var(--light-text);
  }

  &__sosial--text {
    width: 145px;
    height: 16px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--light-text);

  }
}