.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: auto;
  z-index: 1;
  background-color: var(--light-text);

  border-bottom: 1px solid var(--lidht-bg-ol);

  .header__top {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

  }

  &__mail,
  &__phone {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-text);
    transition: color var(--anim-fast);

    @media screen and (min-width:1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  @media screen and (min-width:1200px) {
    &__mail {
      margin-right: 50px;
    }
  }


  &__mail:hover,
  &__phone:focus,
  &__mail:focus,
  &__phone:hover {
    color: var(--accent);
    outline: 0;
  }

  &__container {
    width: 100%;
    min-height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width:768px) {
    .header__container {
      max-width: 768px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  @media screen and (min-width:1200px) {
    .header__container {
      max-width: 1200px;

    }
  }

  @media screen and (max-width:767px) {
    .header__container {
      justify-content: space-between;
    }
  }

  @media screen and (min-width:768px) {
    .header__top {
      margin-left: auto;
    }
  }



  &__logo {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    outline: 0;
    color: var(--accent);


    @media screen and (min-width:768px) {
      .header__logo {
        margin-right: 88px;
      }
    }

    @media screen and (min-width:1200px) {
      .header__logo {
        margin-right: 93px;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 16px;

    @media screen and (max-width:767px) {
      display: none;
    }

    @media screen and (min-width:1200px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 315px;
    }
  }

  &__contact-item {
    display: flex;
    justify-self: start;

  }

  &__logo--stud {
    color: var(--main-tex-ol);
  }

  &__phone--icon,
  &__mail--icon {
    margin-right: 10px;
    fill: currentColor;
  }
}