.header {
  position: fixed;
  display: flex;
  justify-content: start;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  min-height: 60px;

  background-color: var(--light-text);
  border-bottom: 1px solid var(--lidht-bg-ol);

  .header__logo {
    display: inline-block;
    max-width: 145px;
    // padding: 22px 0;
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    outline: 0;
    color: var(--accent);


    .header__logo--stud {
      color: var(--main-tex-ol);
    }
  }

  // @media screen and (min-width:768px) {
  //   .header__logo {
  //     margin-right: 88px;
  //   }
  // }

  @media screen and (min-width:1200px) {
    .header__logo {
      margin-right: 93px;
    }
  }


  .header__container {
    display: flex;
    align-items: center;
    justify-content: start;

    padding-left: 15px;
    padding-right: 15px;
    z-index: 99;

    // background-color: var(--light-text);
    .header__nav {
      display: flex;
      align-items: center;
    }

    .header__top {
      display: flex;
      align-items: center;

    }

    @media screen and (min-width:768px) {
      .header {
        position: static;
      }
    }


    @media screen and (max-width:767px) {
      .header__top {
        display: none;
      }

    }

    .header__contact {
      display: flex;
    }

    @media screen and (max-width:767px) {

      .header__contact {
        display: none;
      }
    }

    @media screen and (min-width:1200px) {
      .header__contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        padding-top: 32px;
        padding-bottom: 32px;
        margin-left: 315px;
      }
    }

    .header__maill {
      display: flex;
      align-items: center;
      // margin-left: auto;
    }

    .header__maill:hover,
    .header__phone:focus,
    .header__maill:focus,
    .header__phone:hover {
      color: var(--accent);
      outline: 0;
    }
  }

  .header__maill,
  .header__phone {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--secondary-text);
    transition: color var(--anim-fast);
  }

  @media screen and (mix-width:1200px) {

    .header__maill,
    .header__phone {
      font-size: 14px;
    }
  }

  .header__phone--icon,
  .header__maill--icon {
    margin-right: 8px;
    fill: currentColor;
  }

}

@media screen and (min-width:768px) {
  .header__contact {
    flex-direction: column;
    gap: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: 96px;
  }
}


@media screen and (min-width:768px) {
  .header__logo {
    margin-right: 88px;
    line-height: 1.16;
  }
}