.hero {
  background-image: linear-gradient(to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/pictures/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--hero-bg);
  width: 100%;
  height: 400px;
  // margin-top: 60px;

  @media screen and (min-width:1200px) {

    height: 600px;

  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 480px;

  }

  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;

    color: var(--light-text);
  }

  &__button {
    max-width: 200px;

    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border-radius: 4px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 2.14;

    background: var(--accent);
    transition: color var(--anim-fast), box-shadow var(--anim-fast);

    // @media screen and (max-width:767px) {
    //   display: none;
    // }
  }

  &__button--text {
    color: var(--light-text);
    border: 0;
    cursor: pointer;
  }

  &__button:hover,
  &__button:focus {
    outline: 0;
    color: var(--lidht-bg-ol);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}