.hero-image {
    width: 100%;
    height: 600px;

    background-image: linear-gradient(to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../../images/hero/Img-hdr_2@2x.webp),
        url(../../images/hero/Img-hdr_2@2x.jpg);

    background-color: var(--hero-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}




@media screen and (max-width:767px) {
    .hero-image {
        width: 100%;
        height: 400px;

        background-image:
            url(../../images/hero/img-hd_1@2x.webp),
            url(../../images/hero/img-hd_1@2x.jpg);

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--hero-bg);
    }
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    max-width: 360px;

    padding-top: 178px;
    padding-bottom: 118px;

    margin-left: auto;
    margin-right: auto;

}



@media screen and (min-width:1200px) {
    .hero-text {
        display: flex;
        padding-top: 280px;
        padding-bottom: 200px;

        max-width: 696px;


        align-items: center;

        flex-direction: column;


    }
}

.hero-image__title {

    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;


    color: var(--light-text);

    margin-bottom: 30px;
}

@media screen and (min-width:1200px) {
    .hero-image__title {
        font-size: 44px;
        line-height: 1.36;
    }
}


.hero-image__btn {
    padding: 10px 24px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background: var(--accent);
    transition: color var(--anim-fast), box-shadow var(--anim-fast);
    cursor: pointer;
    outline: 0;
    border: 0;
}

.hero-image__btn--text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--light-text);

    cursor: pointer;
}

.hero-image__btn:active,
.hero-image__btn:hover,
.hero-image__btn:focus {

    color: var(--lidht-bg-ol);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}