.hero-image {

    background-image: linear-gradient(to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../../images/hero/img1-sm@1x.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--hero-bg);

}


@media screen and (min-width:768px) {
    .hero-image {
        background-image: url(../images/hero/img2-md@2x.webp);
    }
}

@media screen and (min-width:1200px) {
    .hero-image {
        background-image: url(../images/hero/img2-bg@2x.webp);
    }
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 450px;

    padding-top: 118px;
    padding-bottom: 118px;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (min-width:768px) {
    .hero-text {
        margin-top: 78px;
    }
}

@media screen and (min-width:1200px) {
    .hero-text {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero-image__title {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--light-text);

    margin-bottom: 30px;
}

@media screen and (min-width:1200px) {
    .hero-title {
        line-height: 1.61;
    }
}


.hero-image__btn {
    padding: 10px 24px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background: var(--accent);
    transition: color var(--anim-fast), box-shadow var(--anim-fast);
    cursor: pointer;
    outline: 0;
    border: 0;
}

.hero-image__btn--text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--light-text);

    cursor: pointer;
}

.hero-image__btn:active,
.hero-image__btn:hover,
.hero-image__btn:focus {

    color: var(--lidht-bg-ol);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}