.partners {
  padding-top: 60px;
  padding-bottom: 60px;


  .partners__text {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text);
  }

  @media screen and (min-width: 1200px) {
    .partners__text {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--indent);

  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% - var(--indent)*(var(--feature) - 1))/var(--feature));

    @media screen and (min-width: 768px) {
      width: calc((100% - var(--indent)*(var(--items) - 1))/var(--items));
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - var(--indent)*(var(--company) - 1))/var(--company));
    }
  }

  &__item--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--sosial-icon);
    border-radius: 4px;
    height: 92px;
  }


  @media screen and (min-width: 768px) {
    .partners-icon {
      width: 100%;

    }
  }

  @media screen and (max-width: 767px) {
    .partners-icon {
      max-width: 100%;
    }
  }

  @media screen and (min-width: 1200px) {
    .partners-icon {
      width: 100%;
    }
  }

  &__item--logo {
    fill: var(--sosial-icon);
    transition: fill var(--anim-fast), border var(--anim-fast);
  }

  &__item--logo:hover,
  &__item--logo:focus {
    border: 1px solid var(--accent);
    fill: var(--accent);
    outline: 0;
  }

  &__item--logo:hover &__icon {
    fill: var(--accent);
  }

  &__item--logo:focus &__icon {
    fill: var(--accent);
  }
}

@media screen and (min-width: 1200px) {
  .partners {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}