.pictures {
  padding-bottom: 94px;

  &__list {
    display: flex;
    gap: 30px;
  }

  &__img {
    position: relative;
  }

  &__text {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-tex);
  }

  &__img--text {
    position: absolute;
    width: 100%;
    z-index: 1;
    right: 0;
    bottom: 3px;

    width: 370px;
    height: 70px;
    padding: 27px 0;
    background: rgba(47, 48, 58, 0.8);

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--light-text);
  }

}

@media screen and (max-width: 1199px) {
  .pictures {
    display: none;
  }
}