.main__filters {
  min-width: 400px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 58px;
}

@media screen and (min-width:768px) {
  .main__filters {
    margin-top: 78px;
  }
}


@media screen and (min-width:1200px) {
  .main__filters {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.main__title {
  display: flex;
  flex-wrap: wrap;
}

.main__item {
  display: flex;
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .main__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 15px;
  }

}


@media screen and (min-width: 768px) {
  .main__title {
    justify-content: center;
  }
}


.button--click {
  color: var(--light-text);
  background-color: var(--accent);
}