.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg);

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em c;

    color: var(--main-text);
  }

  @media screen and (min-width:1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--indent);

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__item {

    background-color: var(--light-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;



  }

  // width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));

  &__item {

    @media screen and (min-width:768px) {
      width: calc((100% - var(--indent)*(var(--feature) - 1))/var(--feature));
    }
  }

  &__photo {
    margin-bottom: 30px;
    border-bottom: none;
    cursor: pointer;
  }

  &__persson {
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-text);
  }

  &__info {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-text);

    cursor: pointer;
  }

  &__sosial-links {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 30px;
  }

  &__sosial-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--light-text);
    border-radius: 50%;
    transition: color var(--anim-fast), fill var(--anim-fast),
      background-color var(--anim-fast);
  }

  &__sosial-item:hover,
  &__sosial-item:focus {
    background-color: var(--accent);
    outline: 0;
  }

  &__sosial-icon {
    fill: var(--sosial-icon);
    transition: fill var(--anim-fast);
  }

  &__sosial-link:hover &__sosial-icon {
    fill: var(--light-text);
  }

  &__sosial-item:focus &__sosial-icon {
    fill: var(--light-text);
  }
}