.menu-btn {
    position: absolute;
    display: block;

    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: transparent;


}

.menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 120;

    background-color: var(--light-text);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    transform: translateX(0);
}

.menu-overlay.is-open {
    transform: translateX(100%)
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;

    // background-color: var(--light-text);

}

.mobile-link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text);
}

.mobile-socials__item {

    Font size: 18px Line height: 22px Vertical align: Top Letter spacing: 2% Fill: Solid #2196F3
}