.menu-btn {
    display: block;
    // margin-left: auto;
    width: 40px;
    height: 40px;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-btn:active,
.menu-btn:hover,
.menu-btn:focus {
    fill: var(--accent);
}

.menu-overlay .menu-btn {
    position: absolute;
    top: 10px;
    right: 15px;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    // background: var(--light-text);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity var(--anim-fast), visibility var(--anim-fast);


    &.is-open {
        opacity: 1;
        pointer-events: initial;
        visibility: visible;
    }
}

.menu-container {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    height: 100%;
    margin-left: auto;
    background-color: #ffffff;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;

    transform: translateX(100%);
    transition: transform var(--anim-fast);

}

.menu-overlay.is-open .menu-container {
    transform: translateX(0);
}

.mobile-link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--main-text);
}

.mobile-nav__list:first-child {
    margin-bottom: auto;
}

.mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-socilas__item:not(:last-child) .mobile-socilas__link {

    display: flex;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

}

.mobile-socilas__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent);

}


.mobile-contacts__phone {
    display: inline-block;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--accent);

}

.mobile-contacts__mail {
    display: inline-block;
    margin-bottom: 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--secondary-text);
}


.mobile-socilas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.mobile-link--active {
    color: var(--accent);
}











//     // Effect: Drop shadow
// Radius: 3px
// Offset: 0px, 1px
// rgba(0, 0, 0, 0.16)
// Effect: Drop shadow
// Radius: 4px
// Offset: 0px, 2px
// rgba(0, 0, 0, 0.08)
// Effect: Drop shadow
// Radius: 8px
// Offset: 0px, 4px
// rgba(0, 0, 0, 0.04)