.subscription {
  display: flex;
  flex-direction: column;
  width: 100%;

  .subscription__text {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--light-text);
  }

  @media screen and (min-width:1200px) {
    .subscription__text {
      text-align: left;
    }
  }

  .subscription__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width:1200px) {
    .subscription__footer {
      flex-direction: row;
      align-items: baseline;
      gap: 12px;
    }
  }


  .subscription__maill {
    width: 450px;
  }

  @media screen and (min-width:1200px) {
    .subscription__maill {
      width: 358px;
    }
  }

  .subscription__input {
    display: block;
    width: 100%;
    max-height: 50px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: border var(--anim-fast);
  }

  @media screen and (min-width:1200px) {
    .subscription__input {
      margin-bottom: 0;
    }
  }

  .subscription__input-text::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  .subscription__btn-forum {
    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background: var(--accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: color var(--anim-fast) box-shadow var(--anim-fast);
  }

  .subscription__btn-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--light-text);
  }

  .subscription__icon {
    fill: var(--light-text);
    margin-left: 10px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--light-text);
  }

  .subscription__input:hover,
  .subscription__input:focus {
    outline: 0;
    color: var(--lidht-bg-ol);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .subscription__btn-forum:hover,
  .subscription__btn-forum:focus {
    outline: 0;
    color: var(--lidht-bg-ol);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .subscription__btn-forum:hover .subscription__icon {
    fill: var(--lidht-bg-ol);
  }

  .subscription__icon:focus .subscription__icon {
    fill: var(--lidht-bg-ol);
  }
}