.subscription {
  display: flex;
  flex-direction: column;

  &__text {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--light-text);

    @media screen and (min-width:1200px) {
      text-align: left;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width:1200px) {
      flex-direction: row;
      align-items: baseline;
    }

  }

  &__input {
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-left: 16px;
    padding-bottom: 15px;
    margin-right: 12px;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: border var(--anim-fast);
  }

  &__input-text::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &__btn-forum {
    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background: var(--accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: color var(--anim-fast) box-shadow var(--anim-fast);
  }

  &__btn-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--light-text);
  }

  &__icon {
    fill: var(--light-text);
    margin-left: 10px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--light-text);
  }

  &__input:hover,
  &__input:focus {
    outline: 0;
    color: var(--lidht-bg-ol);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__btn-forum:hover,
  &__btn-forum:focus {
    outline: 0;
    color: var(--lidht-bg-ol);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__btn-forum:hover &__icon {
    fill: var(--lidht-bg-ol);
  }

  &__icon:focus &__icon {
    fill: var(--lidht-bg-ol);
  }
}